<%- include('./partials/header.ejs') %>
<body>
  <%- include('./partials/navbar.ejs') %>

  <div class="container">
    <h1>Desculpa, id não encontrado!</h1>
    <img src="/img/error.png" alt="">
    <a href="/">Retornar a página principal</a>
  </div>
  
</body>
<%- include('./partials/footer.ejs') %>